@page "/sendEmail"
@using System.Net.Mail
@using System.Threading.Tasks

<PageTitle>Send Email</PageTitle>

<h3>Send me Email</h3>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="emailAddress">Email Address:</label>
                <input type="email" class="form-control" id="emailAddress" @bind="email" />
            </div>
        </div>
    </div>
    <button class="btn btn-primary" @onclick="SendEmail">Send</button>
    <div>@resultMessage</div>
</div>

@code {
    private string email;
    private string resultMessage;

    private async Task SendEmail()
    {
        try
        {
            var mail = new MailMessage();
            mail.To.Add(email);
            mail.Subject = "Hello!";
            mail.Body = "This is a test mail.";

            using (var smtpClient = new SmtpClient("smtp.example.com"))
            {
                smtpClient.Send(mail);
            }

            resultMessage = "Email sent succesfully!";
        }
        catch (Exception ex)
        {
            resultMessage = "An error occurred while sending the email: " + ex.Message;
        }
    }
}
